.challenge-list {
    width: 100%;
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.challenge-list__link {
    width: 100%;
    display: block;
    margin: 1rem 0;
    padding: 1rem;

    color: black;
    text-decoration: none;

    box-shadow: 0px 0px 3px 0px #e5e3f2;
    border-radius: 3px;

    transition: .2s ease-in-out;
}

.challenge-list__link:hover {
    opacity: .5;
}

.challenge-list__social-media {
    display: block;
    max-width: 100px;
    margin-top: .2rem;
    padding: .2rem;

    color: #fff;
    font-size: .6rem;
    text-align: center;
    
    border-radius: 4px;
    background-color: #ED6360;
}