.dashboard {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.dashboard__img {
    max-width: 450px;
}

.dashboard__section {
    width: 100%;
    max-width: 400px;
}

.dashboard__list {
    padding-left: 0;
    list-style: none;
    text-align: left;
}

.dashboard__link {
    width: 100%;
    display: block;
    margin: 1rem 0;
    padding: 1rem;

    color: black;
    text-decoration: none;

    box-shadow: 0px 0px 3px 0px #e5e3f2;
    border-radius: 3px;

    transition: .2s ease-in-out;
}

.dashboard__link:hover {
    opacity: .5;
}

.dashboard__social-media {
    display: block;
    max-width: 50px;
    margin-top: .2rem;
    padding: .2rem;

    color: #fff;
    font-size: .6rem;
    text-align: center;
    
    border-radius: 4px;
    background-color: #ED6360;
}

.dashboard__register {
    cursor: pointer;
    display: block;
    max-width: 1=250px;
    margin: 0 auto;
    padding: .6rem 1rem;

    color: #1F1E28;
    text-decoration: none;

    background-color: #99DFD5;
    border: 0;
    border-radius: 3px;

    transition: .2s ease-in-out;
}

.dashboard__register:hover {
    opacity: .5;
}
