@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #1F1E28;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

main {
    padding-bottom: 2rem;
}

img {
    width: 100%;
}

/* FORM */

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

label {
    width: 100%;
    display: block;
    margin: 1rem 0;
    text-align: left;
}

label span {
    display: block;
    font-weight: 800;
}

label input,
label textarea {
    width: 100%;
    padding: .6rem;
    background-color: transparent;
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 3px 0px #e5e3f2;
}

/* Typo */

h1 {
    margin: 0;
    font-size: 3rem;
}

/* Components */

.container {
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.action {
    cursor: pointer;
    display: block;
    max-width: 250px;
    margin: 0 auto;
    padding: .6rem 1rem;

    color: #1F1E28;
    text-decoration: none;

    background-color: #99DFD5;
    border: 0;
    border-radius: 3px;

    transition: .2s ease-in-out;
}

.action:hover {
    opacity: .5;
}

section {
    width: 100%;
    max-width: 500px;
}

@media (max-width: 495px) {
    h1 {
        font-size: 2.4rem;
    }

    .container {
        padding-top: 2rem;
    }
}